.Sidebar {
  width: 18%;
  background-color: #0049b7;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.Sidebar > h4 {
  cursor: pointer;
  margin: 8px;
}
.Sidebar > hr {
  width: 40%;
  size: 0.2cm;
  color: rgb(223, 223, 223);
}

.UpperBar {
  display: flex;
  justify-content: space-between;
}
.UpperBar img {
  width: 5%;
  border-radius: 60%;
}

.Img {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  cursor: pointer;
}
.Coming {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.Coming > h1 {
  font-size: 55px;
  color: rgb(224, 224, 224);
}
.user {
 
  display: flex;
}
.user>div{
  width:50%;
  margin-left: 15px;
}
